.container {
  margin: 4rem 30rem;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
  align-items: center;
  grid-row-gap: 2.5rem;
  grid-column-gap: 2rem;
}
