@import '../styles/vars.scss';

.tag {
  color: $secondaryMain;
}

.blogMain {
  grid-column: 2 / span 1;
}

.title {
  composes: blogMain;
}

.body {
  composes: blogMain;
}

.aside {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
